DATABASE_URL="postgres://user:password@localhost:5432/db_name"
DB_NAME="db_name"
ALLOW_ORIGINS="http://localhost:3000,http://127.0.0.1:3000"

JWT_SECRET="Creativeans-Assignment"

GOOGLE_CLIENT_ID="your-google-client-id.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="your-google-client-secret"
GOOGLE_REDIRECT_URI="http://localhost:port_be/api/v1/users/auth/google/callback"

FRONTEND_URL="http://localhost:port_fe"